.gallery-container {
    min-height: 100vh;
    padding: 2rem;
}

.gallery-title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 70rem;
    margin: 0 auto;
}

.card-item {
    border: 1px solid black;
}

.card-image-container {
    aspect-ratio: 16 / 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
}

.card-name {
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-price-lable {
    color: white;
    font-size: 1rem;
}

.card-price-input {
    width: 6rem;
    padding: 0.25rem 0.5rem;
    background-color: #374151;
    color: white;
    border-radius: 0.25rem;
    border: 1px solid #4b5563;
    transition: border-color 0.3s ease;
}



