.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    min-height: calc(100vh - 80px);
    gap: 3rem;
}

.form-content {
    display: flex;
    
}

.form-img {
    width: 100px;
    height: 100px;
}